.button{
  appearance: none;
  color: var(--primaryColor);
  background: var(--buttonColor);
  border: 1px solid var(--borderColor);
  padding: 8px;
  text-align: center;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background: var(--hoverButtonColor);
  border: 1px solid var(--hoverBorderColor);
}