.container{
  width: 100%;
  max-width: 320px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 16px;
  padding: 64px 32px;
}
.containerHeader{
  margin-bottom: 16px;
}