.section,
.containerFooter {
  display: flex;
  justify-content: center;
  width: 100%;
}
.containerFooter {
  gap: 32px;
  padding: 32px 0;
}
.item {
  transform: scale(1);
  transition: transform 0.1s ease;
}
.item:hover {
  transform: scale(1.08);
  transition: transform 0.1s ease;
  stroke: var(--hoverBorderColor);
}
