.textfield {
  --padding: 8px;
  --font-color: var(--primaryColor);
  --background-color: var(--backgroundColor);
  --border-color: var(--borderColor);
  --focus-color: var(--hoverBorderColor);
  --error-color: #eb0014;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input,
.label,
.labelError {
  font-size: 12px;
}

.input {
  padding: var(--padding);
  border: 2px solid var(--border-color);
  outline: none;
  border-radius: 6px;
  width: 100%;
  height: 40px;
  background: none;
}

.label {
  position: absolute;
  color: var(--font-color);
  left: var(--padding);
  padding: 0 8px;
  border-radius: 4px;
  transform: translateY(-50%);
  top: 50%;
  transition: all 0.2s ease-in;
}

.input:is(:focus, :hover) {
  border: 2px solid var(--focus-color);
}

.input:is(:focus, :valid) + .label {
  top: 0;
  font-size: 11px;
  color: var(--focus-color);
  background: var(--background-color);
}

.labelError {
  padding: calc(var(--padding) + 2px);
}

.labelError,
.focusError,
.input:is(:focus, :valid) + .label.focusError {
  color: var(--error-color);
}

.error,
.error:is(:focus, :valid) {
  border: var(--error-color);
}
